*.iml
.gradle
App/local.properties
App/.idea/caches
App/.idea/libraries
App/.idea/modules.xml
App/.idea/workspace.xml
App/.idea/navEditor.xml
App/.idea/assetWizardSettings.xml
App/.DS_Store
App/build
App/captures
App/.externalNativeBuild
App/.cxx
App/google-services.json
App/app/google-services.json